<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
	<div class="container d-flex align-items-center">

		<h1 class="logo me-auto">
			<!-- Uncomment below if you prefer to use an image logo -->
			<a href="index.html" class="logo me-auto">
				<img src="assets/img/logo.png" alt="" class="img-fluid">
			</a>
			<a href="index.html">The Union</a>
		</h1>

		<nav id="navbar" class="navbar order-last order-lg-0">
			<ul>
				<li><a class="-{-props-home-active-}-" href="index.html">Home</a></li>
				<li><a class="-{-props-about-active-}-" href="about.html">About</a></li>
				<li><a class="-{-props-news-active-}-" href="news.html">News</a></li>
				<li><a href="contact.html" class="-{-props-contact-active-}-">Contact</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->