<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
	<div class="container">

		<div class="row counters">

			<div class="col-lg-3 col-6 text-center">
				<span data-purecounter-start="0" data-purecounter-end="71000" data-purecounter-duration="1"
					class="purecounter"></span>
				<p>High-school students</p>
			</div>

			<div class="col-lg-3 col-6 text-center">
				<span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="1"
					class="purecounter"></span>
				<p>Cities</p>
			</div>

			<div class="col-lg-3 col-6 text-center">
				<span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1"
					class="purecounter"></span>
				<p>Manifesto points</p>
			</div>

			<div class="col-lg-3 col-6 text-center">
				<span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1"
					class="purecounter"></span>
				<p>Union</p>
			</div>

		</div>

	</div>
</section><!-- End Counts Section -->