<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
	<div class="container d-flex align-items-center">

		<h1 class="logo me-auto">
			<!-- Uncomment below if you prefer to use an image logo -->
			<a href="/%locale%" class="logo me-auto">
				<img src="/assets/img/logo.png" alt="" class="img-fluid">
			</a>
			<a href="/%locale%">~{~navbar-0~}~</a>
		</h1>

		<nav id="navbar" class="navbar order-last order-lg-0">
			<ul>
				<li>
					<select id="language-select" class="form-select">
						<option value="mk">🇲🇰</option>
						<option value="al">🇦🇱</option>
						<option value="en">🇬🇧</option>
					</select>
				</li>
				<li><a class="-{-home-active-}-" href="/%locale%">~{~navbar-1~}~</a></li>
				<li><a class="-{-about-active-}-" href="/%locale%/about.html">~{~navbar-2~}~</a></li>
				<li><a class="-{-news-active-}-" href="/%locale%/news.html">~{~navbar-3~}~</a></li>
				<li><a class="-{-gallery-active-}-" href="/%locale%/gallery.html">~{~navbar-4~}~</a></li>
				<li><a class="-{-contact-active-}-" href="/%locale%/contact.html">~{~navbar-5~}~</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->